* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    text-align: center;
}

ul {
    padding-left: 0;
}

ul li {
    list-style-position: inside;
}

a {
    color: black;
}

a:hover {
    color: gray;
}

img {
    width: 300px;
    height: auto;
}

ol li {
    list-style-position: inside;
}