* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    text-align: center;
    box-sizing: border-box;
}


div {
    margin: 0 auto;
    border: solid black 1px;
    width: 300px;
    padding-left: 85px;
}

li {
    text-align: justify;
}



a {
    color: black;
}

a:hover {
    color: gray;
}